.footer
    background-color: $light-color
    padding: $gutter/2 0 
    .grid
        align-items: center
    .copyrite
        grid-column: 1 / 5
    .logo
        grid-column: 5 / 9
    .btn-block
        grid-column: 11 / 13
        .btn 
            width: 100%
    .nav
        grid-column: 1 / 5
    hr 
        grid-column: 1 / 13
        margin: 0
        background-color: lighten($secondary-color, 30%)
    .social
        grid-column: 9 / 13