.section 
    padding: $gutter*2 0
    .form
        grid-column: 6 / 13

.section_flex
    display: flex
    flex-direction: column
    .container 
        margin: auto

.section__block
    grid-column: 1 / 6
    &_fullwidth
        grid-column: 1 / 13
        text-align: center

.section__title
    color: $title-color
    font-family: 'RobotoMedium'
    margin-bottom: $gutter
    line-height: 1.3
    &_h1
        font-size: 3rem
    &_h2
        font-size: 2rem

.section__text
    color: $secondary-color
    font-size: 1.1rem


.section__list
    display: flex
    &_fullwidth
        grid-column: 1 / 13

.section__item
    img.section__icon
        width: 48px
    h6
        font-size: 1rem
        margin: 10px 0 5px
    p
        font-size: 0.9rem
        color: $light-text-color
        margin-bottom: 0
        line-height: 1.5
    .btn 
        margin-top: $gutter / 2
    &:not(:last-child) 
        margin-right: $gutter


.section.features
    background-image: url(../img/Path.svg)
    background-repeat: no-repeat
    background-size: contain
    background-position: 100% 0

.section.promo
    background-image: url(../img/Path.svg)
    background-repeat: no-repeat
    background-size: contain
    background-position: 0 0

.section.team
    background-image: url(../img/Path.svg)
    background-repeat: no-repeat
    background-size: contain
    background-position: 100% 0

.section.feedback
    .container
        background-image: url(../img/draw-4-1.svg)
        background-repeat: no-repeat
        background-size: contain
        background-position: 100% 0

.section.promo
    .container
        background-image: url(../img/draw-3.svg)
        background-repeat: no-repeat
        background-size: contain
        background-position: 100% 0
    .section__block
        grid-column: 1 / 8
