footer.footer
    .container
        .grid
            .copyrite &copy; 2019
            +link("/index.html", "Landie", "logo")
            div.btn-block
                +link("#", "Purchase Kit", "btn btn_primary")
            hr
            include nav
            include socials