header.header
    .container
        .grid
            include nav
            +link("/index.html", "Landie", "logo")
            div.btn-block
                +link("#", "Buy Now", "btn btn_primary")