extends _layout/main

block head_end

block pageVars
    - var pageTitle = 'Landie - About'
    - var pageDescription = 'Landing Design Kit'
    - var pageKeywords = 'landing page demo layout template'

block content 
    main
        include _components/header
        include _partials/about-promo
        include _partials/team
        include _partials/faq
        include _components/footer

block body_end
    script(type="text/javascript" src="/scripts/scripts.min.js")