extends _layout/main

block head_end

block pageVars
    - var pageTitle = 'Landie - Home'
    - var pageDescription = 'Landing Design Kit'
    - var pageKeywords = 'landing page demo layout template'

block content 
    main
        include _partials/hero
        include _partials/features
        include _partials/pricing
        include _partials/testimonials
        include _partials/feedback
        include _components/footer
