.section.feedback
    background-color: $primary-color
    .grid
        align-items: center
    .section__title
        color: #ffffff
    .section__text
        color: #ffffff
        opacity: 0.8
    .form
        display: flex
        margin-top: $gutter * 1.5
        input 
            margin-right: $gutter / 2
            margin-bottom: 0
            flex-basis: 60%