.section.pricing
    .section__block
        grid-column: 1 / 5
    .section__list
        grid-column: 5 / 13
    .section__item 
        border: 1px solid #dddddd
        border-radius: 4px
        padding: $gutter / 1.5
        &:not(:last-child) 
            margin-right: $gutter
    .price
        font-size: 36px
        color: $primary-color
        font-family: 'RobotoBold'
    .title
        margin-top: 0