section.section.section_flex
    .container
        .grid
            .section__block
                h2.section__title.section__title_h2 Contact Us
                p(class="section__text").
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            form.form
                input(type="text" placeholder="Your Name") 
                input(type="text" placeholder="Your E-mail")
                textarea(placeholder="Your Message") 
                button(type="submit" class="btn btn_accent") Send Message