section.section.faq
    .container
        .section__block.section__block_fullwidth
            h2.section__title.section__title_h2 F.A.Q.
            p.section__text Questions, Concerns or something else?
        .questions
            .question-item
                h5.title What is this for?
                p.descr.
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            .question-item
                h5.title How is this UI kit different fron others?
                p.descr.
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Aenean commodo ligula eget dolor.
            .question-item
                h5.title Who is This For?
                p.descr.
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
            .question-item
                h5.title What is This For?
                p.descr.
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            .question-item
        .section__block.section__block_fullwidth
            +link("contact.html", "Still Have a Questions? Contact Us!", "link") 
