section.section.faq
    .container
        .grid
            .section__block.section__block_fullwidth
                h2.section__title.section__title_h2 F.A.Q.
                p.section__text Questions, Concerns or something else?