section.section.features
    .container
        .grid
            .section__block
                h2.section__title.section__title_h2 Design Your Own Pages
                p(class="section__text"). 
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            ul.features__list
                li.features__item
                    img(src="img/feature-1.svg" alt="")
                    h6 Title Goes Here
                    p.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                li.features__item
                    img(src="img/feature-2.svg" alt="")
                    h6 Title Goes Here
                    p.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                li.features__item
                    img(src="img/feature-3.svg" alt="")
                    h6 Title Goes Here
                    p.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                li.features__item
                    img(src="img/feature-2.svg" alt="")
                    h6 Title Goes Here
                    p.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
