section.section.feedback
    .container
        .grid
            .section__block
                h2.section__title.section__title_h2 Stay Up To Date
                p(class="section__text"). 
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                p(class="section__text").
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                .form
                    input(type="text" placeholder="Enter Your Email")
                    button.btn.btn_accent Sign Up
            //- .section__image
            //-     img(src="img/draw-4-1.svg")