section.section.feedback
    .container
        .grid
            .section__block
                h2.section__title.section__title_h2 Light, Fast & Powerful
                p(class="section__text"). 
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                p(class="section__text").
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                .form
                    input(type="text" placeholder="Enter Your Email")
                    button.btn.btn_primary Sign Up
                //- ul.features__list
                //-     li.features__item
                //-         img(src="img/feature-1.svg" alt="")
                //-         h6 Title Goes Here
                //-         p.
                //-             Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                //-     li.features__item
                //-         img(src="img/feature-2.svg" alt="")
                //-         h6 Title Goes Here
                //-         p.
                //-             Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            .section__image
                img(src="img/draw-4.svg")