section.section.section_flex.hero
    include ../_components/header
    .container
        .grid
            .section__block
                h1.section__title.section__title_h1 Introduce Your Product Quickly & Effectively
                p(class="section__text"). 
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                p(class="section__text"). 
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                .btn-block
                    +link("#", "Buy Now", "btn btn_primary")
                    +link("#", "Learn More", "btn btn_secondary")
