section.section.pricing
    .container
        .grid
            .section__block
                h2.section__title.section__title_h2 A Price To Suit Everyone
                p(class="section__text"). 
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 