section.section.pricing
    .container
        .grid
            .section__block
                h2.section__title.section__title_h2 A Price To Suit Everyone
                p(class="section__text"). 
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

            ul.section__list
                li.section__item
                    h6.title Design Kit
                    span.price &#x24; 40
                    hr
                    p.descr. 
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    +link("#", "Purchase Design Kit", "btn btn_accent")
                li.section__item
                    h6.title Design & Code Package
                    span.price &#x24; 75
                    hr
                    p.descr. 
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    +link("#", "Purchase Package", "btn btn_accent")