section.section.team
    .container
        .grid
            .section__block.section__block_fullwidth
                h2.section__title.section__title_h2 Meet Our Awesome Team
                p.section__text. 
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                    Aenean commodo ligula eget dolor natoque montes, nascetur ridiculus mus.