section.section.team
    .container
        .grid
            .section__block.section__block_fullwidth
                h2.section__title.section__title_h2 Meet Our Awesome Team
                p.section__text. 
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                    Aenean commodo ligula eget dolor natoque montes, nascetur ridiculus mus.
            ul.section__list.section__list_fullwidth
                li.section__item
                    .photo
                        img(src="img/t-1.png")
                    .testimonial_auth
                        strong Susan Bennet
                        span Co-Founder & CEO
                li.section__item
                    .photo
                        img(src="img/t-2.png")
                    .testimonial_auth
                        strong Travis Russel
                        span Co-Founder & Developer
                li.section__item
                    .photo
                        img(src="img/t-3.png")
                    .testimonial_auth
                        strong Mark Robinson
                        span UX Designer
                li.section__item
                    .photo
                        img(src="img/t-4.png")
                    .testimonial_auth
                        strong Lora Zeldman
                        span Developer