section.section.testimonials
    .container
        .grid
            .section__block.section__block_fullwidth
                h2.section__title.section__title_h2 Our Customers Love Us
                p(class="section__text").
                    We have so many lovely customers and they have a few words 
                    they would like to say about us!
            ul.section__list.section__list_fullwidth
                li.section__item.testimonial
                    .avatar
                        img(src="img/person-1.png")
                    p. 
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    .testimonial_auth
                        strong Jannet Doe
                        span CEO of ComCorp
                li.section__item.testimonial
                    .avatar
                        img(src="img/person-2.png")
                    p. 
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    .testimonial_auth
                        strong Jannet Doe
                        span CEO of ComCorp
                li.section__item.testimonial
                    .avatar
                        img(src="img/person-3.png")
                    p. 
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    .testimonial_auth
                        strong Jannet Doe
                        span CEO of ComCorp