section.section.features
    .container
        .grid
            .section__block
                h2.section__title.section__title_h2 Our Customers Love Us
                p(class="section__text").
                    We have so many lovely customers and they have a few words 
                    they would like to say about us!
