- 
    var navigationItems = [
        {label: "Home", href: "index.html"},
        {label: "About", href: "about.html"},
        {label: "Contacts", href: "contact.html"}
    ]

- 
    var socialItems = [
        {imgSrc: "img/socials/social_fb.svg", href: "#"},
        {imgSrc: "img/socials/social_in.svg", href: "#"},
        {imgSrc: "img/socials/social_tw.svg", href: "#"},
        {imgSrc: "img/socials/social_yt.svg", href: "#"},
        {imgSrc: "img/socials/social_inst.svg", href: "#"}
    ]